form.echoey-users {
	#search-user-name {
		margin-bottom: 16px;
	}

	#users-container {
		margin-bottom: 20px;
		padding: 0 8px 20px;

		button.make-jew {
			margin-top: 2px;
		}
	}

	#jews-container {
		width: 100%;

		th {
			padding-bottom: 10px;
			font-size: 14px;

			&:last-of-type {
				width: 20%;
			}
		}

		button.remove-jew {
			min-width: 50px;
			margin: -6px 1px 0 0;
			padding: 0;
		}
	}
}
